body{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	background: #f1f1f1;
	text-transform: uppercase;
	text-align: center;
}

.wrapper{
	box-shadow: 0 0 15px 5px rgba(0,1,1, 0.2);
	background-color: #ffffff;
}

h1{
	font-weight: bold;
	font-size: 21px;
	padding-bottom: 12px;
	line-height: 26px;
}

h2{
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 5px;
	line-height: 21px;
	padding-top: 40px;
}

h3{
	font-size: 21px;
	font-weight: bold;
}

ul{
	font-size: 0;
	margin: 0;
	padding: 0;
}

p{
	font-size: 14px;
	line-height: 21px;
}

a{
	line-height: 26px;
}

.container{
	margin: auto;
	padding: 0;
	width: 1200px;
	position: relative;
}

.clearfix:after{
	content: '';
	clear: both;
	display: table;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 14px;
	font-weight: bold; 
}

.main-navigation a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

.main-navigation a:hover{
	color: #81b3d2;
}

.main-navigation a:after:hover{
	opacity: 0.3;
}

.main-navigation a:active{
	color: #766357;
}

.main-navigation a:active:hover{
	color: #604e43;
}

.main-navigation a:active:after{
	opacity: 0.3;
}

header ul li:nth-child(2){
	margin-right: 20%;
}

.logo{
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -70px;
	z-index: 2;
	top: 1px;
}

.logo a{
	padding: 0;
}

element.style{
	list-style: none;
	margin: 0;
	padding: 0;
}

.img-bg{
 	background-image: url(../img/front.jpg);
	background-repeat: no-repeat;
	background-position: bottom center;
	position: relative;
	margin-bottom: 60px;
	z-index: 1;
}

.img-bg:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 57px;
	background-image: url(../img/front.png);
	background-repeat: no-repeat;
	background-position: center;
}

.img-bg-logo{
	text-align: center;
	padding: 75px 0;
}

.name{
	display: inline;
	line-height: 26px;
}

.name p{
	line-height: 26px;
}

.img-town{
	float: right;
	width: 800px; 
	height: 256px;
}
.town{
	margin-top: 40px;
	background: #81b3d2;
	margin-bottom: 20px;
}

.town-text{
	float: left;
  	width: 286px;
  	color: #ffffff;
  	padding-left: 57px;
}

.town-text p{
	padding-bottom: 5px;
}

.advantages-item{
	float: left;
	width: 33%;
	padding-top: 40px;
	margin-bottom: 70px;
}

.advantages-item p{
	color: #333333;
	padding-left: 55px;
	padding-right: 55px;
}

.bridge-img{
	float: left;
	width: 800px; 
	height: 256px;
}

.bridge{
	background: #81b3d2;
}

.bridge-text{
	float: right;
	width: 320px;
  	color: #ffffff;
  	padding-right: 40px;
}

.bridge-text p{
	padding-bottom: 5px;
}

.advantages2-main{
	background-color: #eeeeee;
}

.advantages2-item{
	padding-top: 20px;
	float: left;
	width: 33%;
	padding-bottom: 50px;
}

.advantages2-item p{
	color: #333333;
	padding-right: 60px;
	padding-left: 60px;
}

.filters{
	background-image: url(../img/image3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	min-height: 218px;
	margin-left: auto;
	margin-right: auto;
}

.infrastructure{
	float: left;
	width: 255px;
	color: #ffffff;
	text-align: left;
	padding-left: 70px;
}

.filters h3{
	padding-top: 10px;
	font-size: 16px;
	line-height: 21px;
	margin-bottom: 25px;
}

.type-house{
	float: left;
	width: 163px;
	color: #ffffff;
	margin-right: 120px;
	text-align: left;
}

input[type="checkbox"]{
	display: none;
}

input[type="checkbox"] + label span{
	display: inline-block;
	vertical-align: top;
	width: 23px;
	height: 23px;
	margin: -2px 16px 22px 0;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -338px -5px;
	cursor: pointer;
}

input[type="checkbox"]:hover + label span{
	background-position: -338px -5px;
}

input[type="checkbox"]:hover:disabled + label span{
	background-position: -338px -5px;
	opacity: 0.5;
}

input[type="checkbox"]:checked + label span{
	background-position: -376px -6px;
}

input[type="checkbox"]:checked:disabled + label span{
	background-position: -376px -6px;
	opacity: 0.3;
}

.filter-range{
	margin-left: 190px;
	margin-right: 72px;
	margin-top: 25px;
	float: left;
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title{
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
	text-align: left;
}

.price-controls{
	margin-left: 10px;
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label{
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price{
	width: 112px;
	padding-left: 35px;
}

.price-controls input{
	width: 50px;
	margin: 0;
	color: inherit;
	height: 36px;
	font: inherit;
	background: none;
	border: none;
}

.range-controls .scale{
	margin-left: 15px;
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle{
	margin-left: 30px;
	position: absolute;
	top: 105px;
	left: 780px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover{
	background: #1c4f80;
}

.range-toggle-max{
	left: 1030px;
}

.sorting li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 12px;
	line-height: 18px;
}

.sorting a{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #000000;
}

.btn-transparent{
	display: block;
	margin: 30px auto;
	padding: 6px 30px;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover{
	color: #000000;
	background: #ffffff;
}

.sorter{
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
	padding: 32px 72px;
	text-align: left;
	padding-bottom: 10px;
}

.sorter-left{
	display: inline-block;
	float:left;
	padding-bottom: 15px;
}

.find{
	padding-right: 45px;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

.sort{
	padding-right: 37px;
	font-size: 12px;
	line-height: 18px;
}

.sorter-left a{
	color: #b2b2b2;
	margin-right: 30px;
	text-decoration: none;
	line-height: 18px;
	font-size: 12px;
	border-bottom: 1px dashed #81b3d2;
}

.sorter-left a:hover{
	color: #81b3d2;
	border-bottom: 1px dashed #81b3d2;
}

.sorter-left a:active{
	color: #000000;
	border-bottom: none;
}

.sorter-right{
	float: right;
	text-align: right;
}

.sorter-right a{
	display: inline-block;
	text-decoration: none;
	line-height: 18px;
	font-size: 0;
	vertical-align: middle;
	margin-left: 9px;
}

.icon-up{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #cccccc;
}

.icon-down{
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #cccccc;
}

.icon-up:hover{
	border-bottom: 10px solid #000000;
}

.icon-down:hover{
	border-top: 10px solid #000000;
}

.icon-up:active{
	border-bottom: 10px solid #81b3d2;
}

.icon-down:active{
	border-top: 10px solid #81b3d2;
}

.hotels{
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 72px;
}

.hotels:last-child{
	margin-bottom: 25px;
}

.hotel{
	float: left;
	width: 700px;
	text-align: left;
	padding-left: 30px;
}

.hotel-name{
	display: inline-block;
	width: 786px;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	padding-bottom: 5px;
	color: #000000;
	cursor: default;
}

.hotel-name:hover{
	color: #81b3d2;
}

.hotel-name:active{
	color: #000000;
	opacity: 0.3;
}

.type{
	display: inline-block;
	width: 115px;
	cursor: default;
}

.detail{
	margin-top: 12px;
	margin-right: 2px;
	padding: 3px 1px;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	background-color: #81b3d2;
	width: 110px;
	text-align: center;
}

.detail:hover{
	background-color: #669ec0;
}

.detail:active{
	background-color: #5496bd;
	color: #88b6d1; 
}

.reserved{
	margin-top: 12px;
	margin-right: 2px;
	padding: 3px 1px;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: bold;
	background-color: #766357;
	width: 140px;
	text-align: center;
}

.reserved:hover{
	background-color: #604e43;
}

.reserved:active{
	background-color: #503e33;
	color: #857871;
}

.hotel-img{
	float: left;
	width: 135px;
	min-height: 90px;

}

.rating{
	display: inline-block;
	float: right;
	width: 120px;
	margin-right: 72px;
}

.rating span{
	background-color: #f2f2f2;
	font-size: 14px;
	line-height: 21px;
	color: #666666;
	padding: 5px 15px;
}

.stars{
	font-size: 0;
	display: inline-block;
	float: right;
    width: 120px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -395px -50px;
    padding-bottom: 50px;
}

.stars2{
	font-size: 0;
	display: inline-block;
	float: right;
    width: 120px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -520px -50px;
    padding-bottom: 50px;
}

.stars3{
	font-size: 0;
	display: inline-block;
	float: right;
    width: 120px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -715px -50px;
    padding-bottom: 45px;
}

.date{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}

.date h2{
	font-size: 30px;
	line-height: 24px;
	padding-bottom: 5px;
	padding-top: 30px;
}

.date p{
	color: #333333;
	line-height: 24px;
	padding-bottom: 30px;
}

.choose-hotel{
	position: relative;
	text-align: center;
}

.choose-hotel-title{
	width: 510px;
	background-color: #766357;
}

.choose-hotel a{
	padding: 30px;
	display: inline-block;
	color: #ffffff;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
}

.choose-hotel-popup{
	margin-left: auto;
	margin-right: auto;
	width: 570px;
	background-color: #ffffff;
	padding: 40px 0;
	position: absolute;
	left: 50%;
	top: 100%;
	transform: translateX(-50%);
	min-height: 320px;
}

.choose-hotel-popup-hide{
	display: none;
}

.form-row{
	position: relative;
	border: none;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 14px;
  	line-height: 26px;
  	color: #000000;
  	text-transform: uppercase;
  	font-weight: bold;
  	margin-bottom: 27px;
  	margin-top: 10px;
  	padding-bottom: 0;
}

.form-row input{
	width: 310px;
	min-height: 30px;
	padding: 5px 15px;
	margin-left: 19px;
	border: none;
	background-color: #f2f2f2;
	outline: none;
}

.form-row span{
	display: inline-block;
	position: absolute;
	width: 37px;
	height: 38px;
	background-color: #f2f2f2;
	z-index: 1;
	vertical-align: top;
	content: "";
	top: 7px;
	left: 463px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -545px 3px;
	cursor: pointer;
}

.form-row input:hover{
	background-color: #ebebeb;
}

.form-row input:active{
	background-color: #ffffff;
	border: 2px solid #ebebeb;
	width: 308px;
	min-height: 28px;
}

.form-row input:hover + span{
	background-color: #ebebeb;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -472px 3px;
}

.form-row input:active + span{
	background-color: #ffffff;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -509px 5px;
	width: 35px;
	height: 36px;
}

.counters{
	content: "";
	clear: both;
	display: table;
	position: relative;
	border: none;
  	color: #000000;
  	font-weight: bold;
	width: 570px;
	margin-bottom: 50px;
}

.counters label{
	padding-left: 10px;
	padding-right: 40px;
	font-size: 14px;
}

.counter-left{
	float: left;
	width: 320px;
	border: none;
	font-size: 0;
}

.counter-right{
	border: none;
	margin-right: 45px;
	font-size: 0;
}

.counter-right label{
	padding-left: 0;
}

.counters input[type="text"]{
	color: #000000;
	width: 35px;
	font-size: 14px;
	line-height: 26px;
	background-color: #f2f2f2;
	padding-top: 8px;
	padding-bottom: 1px;
	border: none;
	cursor: pointer;
	outline: 0;
}

.button-min,
.button-max{
	font-size: 23px;
	line-height: 26px;
	background-color: #f2f2f2;
	color: #a9a9a9;
	padding: 3px 12px;
	cursor: pointer;
}

.button-min:hover,
.button-max:hover{
	color: #000000;
}

.button-min:active,
.button-max:active{
	color: #81b3d2;
}

.found button[type="submit"]{
	width: 460px;
}

.found{
	border: none;
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 33px;
	width: 450px;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans", "Arial", sans-serif;
	vertical-align: top;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-size: 21px;
	background-color: #81b3d2;
	cursor: pointer;
}

.found:hover{
	background-color: #669ec0;
}

.found:active{
	background-color: #5496bd;
	color: rgba(255,255,255, 0.3);
}

.map{
	width: 1200px;
	min-height: 593px;
	background: #ffffff url(../img/map.jpg) no-repeat;
	margin-right: auto;
	margin-left: auto;
	margin-top: -15px;
}

.main-footer{
	padding-top: 30px;
	margin-top: -120px;
	background-color: rgba(255,255,255, 0.8);
	min-height: 90px;
}

.main-footer2{
	padding-bottom: 30px;
}

.hashtag{
	float: left;
	width: 400px;
}

.hashtag p{
	font-size: 21px;
	font-weight: bold;
}

.footer-social{
	float: left;
	padding-top: 10px;
	width: 400px;
	min-height: 52px;
}

.footer-copyright{
	float: right;
	padding-top: 10px;
	width: 400px;
}

.social-btn{
	display: inline-block;
	width: 48px;
	height: 48px;
	margin-right: 0 5px;
	font-size: 0;
	vertical-align: middle;
	position: relative;
	text-decoration: none;
  	background: #81b3d2 url(../img/sprite.png) no-repeat;
}

.social-btn-tw{
	background-position: -208px 5px;
	background-color: #81b3d2;
}

.social-btn-fb{
	background-position: -173px 3px;
	background-color: #81b3d2;
}

.social-btn-yt{
	background-position: 8px 5px;
	background-color: #81b3d2;
}

.social-btn-tw:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%) translateY(-50%);
	width: 48px;
	height: 48px;
	background-position: -208px 5px;
}

.social-btn-tw:hover {
	background-color: #669ec0;
	background-position: -208px 5px;
}

.social-btn-tw:active:after{
	background-color: #5496bd;
	opacity: 0.5;
	background-position: -208px 5px;
}

.social-btn-fb:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%) translateY(-50%);
	width: 48px;
	height: 48px;
	background-position: -173px 3px;
}

.social-btn-fb:hover {
	background-color: #669ec0;
	background-position: -173px 3px;
}

.social-btn-fb:active:after{
	background-color: #5496bd;
	opacity: 0.5;
	background-position: -173px 3px;
}

.social-btn-yt:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translateX(-50%) translateY(-50%);
	width: 48px;
	height: 48px;
	background-position: 8px 5px;
}

.social-btn-yt:hover {
	background-color: #669ec0;
	background-position: 8px 5px;
}

.social-btn-yt:active:after{
	background-color: #5496bd;
	opacity: 0.5;
	background-position: 8px 5px;
}

.btn{
	display: inline-block;
    width: 120px;
    height: 51px;
    margin-right: 0 5px;
    font-size: 0;
    vertical-align: middle;
    background: url(../img/sprite.png) no-repeat;
    background-position: 0 -50px;
}

.btn:hover{
	background-position: -133px -50px;
}

.btn:active{
	background-position: -271px -50px;
}