body{
	font-family: 'PT Sans', sans-serif;
	font-size: 0px;
	background: none;
	text-transform: uppercase;
	text-align: center;
}

h2{
	font-size: 21px;
}

.container {
	margin: 0 auto;
	width: 1200px;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.main-navigation li{
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	font-size: 14px;
}

element.style{
	list-style: none;
	margin: 0;
	padding: 0;
}

.img-bg {
 	background-image: url(../img/front.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	margin-bottom: 60px;
}

.img-bg:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url(../img/front.png);
  background-repeat: no-repeat;
  background-position: center;
}

.img-bg-logo {
  text-align: center;
  padding: 70px 0;
}

.name{
	width: 1200px;
	margin-bottom: 58px;
}

.town{
	background: #81b3d2;
	color: #ffffff;
	width: 1200px;
	min-height: 256px;
	margin-left: 58px;
	margin-bottom: 60px;
	font-size: 14px;

}

.advantages-item {
	float: left;
	width: 380px;
	margin-right: 20px;
	margin-bottom: 39px;
	font-size: 14px;
	list-style: none;
}

.advantages-item: last-child {
	margin-right: o;
}

.bridge{
	clear: both;

	width: 1200px;
	min-height: 256px;
	margin-left: 48px;
	margin-bottom: 50px;
	background: #81b3d2;
	color: #ffffff;
	font-size: 14px;
}

.advantages2-item{
	float: left;
	width: 380px;
	margin-right: 20px ;
	margin-bottom: 39px;
	font-size: 14px;
	list-style: none;
}
}

.advantages2-item: last-child {
	margin-right: o;
}

.filters{
	background-image: url(../img/image3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	min-height: 562px;
	margin-bottom: 35px;
}

.infrastructure{
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 144px;
	margin-left: 40px;
	padding-left: 73px;
	padding-right: 98px;
	min-height: 160px;
}
.type-house{
	float: left;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 164px;
	padding-right: 325px;
	min-height: 160px;
}
.prices{
	float: right;
	margin-top: 30px;
	margin-bottom: 30px;
	width: 328px;
	margin-left: 40px;
	padding-right: 73px;
	min-height: 160px;
}

.hotels{
	float: left;
	margin-bottom: 62px;
	width: 1056px;
	min-height: 154px;
	margin: 73px;
}
 
.date{
	float: left;
	margin-top: 49px;
	width: 439px;
}

.choose-hotel{
	min-height: 484px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 34px;
	padding-bottom: 54px;
	background-image: url(../img/map.jpg);
}

.container {
	margin: 0 auto;
	width: 1200px;
}

.main-navigation li{
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	font-size: 14px;
}


.hashtag {
	float: left;
	width: 280px;
	margin-left: 40px;
	padding-left: 111px;
	padding-right: 90px;
	min-height: 52px;
}

.footer-social {
	float: left;
	width: 220px;
	padding-left: 92px;
	padding-right: 90px;
	min-height: 52px;
}

.footer-copyright {
	float: right;
	width: 240px;
	padding-left: 88px;
	padding-right: 86px;
	margin-right: 40px;
	min-height: 52px;
}