body{
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 21px;
	background: #ffffff;
	text-transform: uppercase;
	text-align: center;
}
h1{
	font-weight: bold;
	font-size: 21px;
	padding-bottom: 12px;
}

h2{
	font-size: 21px;
	font-weight: bold;
	padding-bottom: 20px;
}

ul{
	font-size: 0;
	margin: 0;
	padding: 0;
}

p{
	font-size: 14px;
	padding-bottom: 20px;
}

.container {
	margin: auto;
	padding: 0;
	width: 1200px;
	position: relative;
}

.clearfix:after {
  content: '';
  clear: both;
  display: table;
}

.main-navigation li{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	font-size: 14px;
	font-weight: bold; 
}

.main-navigation a{
    display: block;
    padding: 18px;
    text-decoration: none;
    color: #000000;
}

.main-navigation a:hover {
  background: #e1f0f8;
}

header ul li:nth-child(2) {
  margin-right: 20%;
}

.logo {
  width: 138px;
  height: 70px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -65px;
}

element.style{
	list-style: none;
	margin: 0;
	padding: 0;
}

.img-bg {
 	background-image: url(../img/front.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	margin-bottom: 60px;
}

.img-bg:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  background-image: url(../img/front.png);
  background-repeat: no-repeat;
  background-position: center;
}

.img-bg-logo {
  text-align: center;
  padding: 70px 0;
}

.name{
	display: inline;
	vertical-align: top;
	width: 575px;
	margin-left: auto;
	margin-right: auto;
	line-height: 26px;
}

.town{
	margin-top: 25px;
	background: #81b3d2;
	color: #ffffff;
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

.town h2{
	padding-top: 55px;
}

.advantages-item {
	float: left;
	width: 380px;
	padding-top: 40px;
	margin-bottom: 15px;
}

.advantages-item p{
	color: #333333;
}

.bridge{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background: #81b3d2;
	color: #ffffff;
}

.advantages2-item{
	float: left;
	width: 33%;
	padding-top: 45px;
	background-color: #eeeeee;
	padding-bottom: 58px;
}

.filters{
	background-image: url(../img/image3.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	position: relative;
	min-height: 218px;
	margin-left: auto;
	margin-right: auto;
}

.infrastructure{
	float: left;
	width: 287px;
	color: #ffffff;
	text-align: left;
	padding-left: 70px;
}
.type-house{
	float: left;
	width: 212px;
	color: #ffffff;
	margin-right: 212px;
	text-align: left;
}
.prices{
	float: right;
	width: 490px;
	color: #ffffff;
}

.hotels{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-left: 70px;
}
 
.date{
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-top: 58px;
}

.date h2{
	font-size: 30px;
}

.choose-hotel{
	/*min-height: 484px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 34px;
	padding-bottom: 54px;*/
	background-image: url(../img/map.jpg);
	background-repeat: no-repeat;
	background-position: top center;
}

.main-footer{
	width: 1200px;
	padding-top: 40px;
}

.hashtag {
	float: left;
	width: 400px;
	min-height: 52px;
	font-size: 21px;
	font-weight: bold;
}

.footer-social {
	float: left;
	width: 400px;
	min-height: 52px;
}

.footer-copyright {
	float: right;
	width: 400px;
	min-height: 52px;
}

.social-btn{
	display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-color: #81b3d2 url("/assets/course14/social.png") no-repeat;
    vertical-align: middle;
    font-size: 0;
}

.social-btn-tw{
	background: #81b3d2 url("/assets/course14/avatar.png") no-repeat 50% 50%;
}

.social-btn-fb{
	background: #81b3d2 url("/assets/course14/avatar.png") no-repeat 50% 50%;
}

.social-btn-yt{
	background: #81b3d2 url("/assets/course14/avatar.png") no-repeat 50% 50%;
}